
@{
    ViewBag.Title = "_fooder_2";
    Layout = null;
}

<div class="col-md-12" style="width:90%">
    <table class="table table-hover" border="1" style="border-color:brown">
        <tr style="padding-left:10px; padding-top:10px">
            <td class="col-md-4">
                <div id="productsDetails" class="hot-products">
                    <label style="color:forestgreen" class="title"> Hãy luôn ủng hộ chúng tôi. </label>
                    Chúng tôi liên kết với các trường cao đẳng - đại học trên thành phố Hồ Chí Minh
                    Chúng tôi sẽ cố gắng hoàn thiện hơn.
                    <br /><br /><div style="text-align:center"><a class="btn btn-success" href="~/TinTuc/TruongLienKet" style="text-align:center">Xem chi tiết</a></div>
                </div>
            </td>
            <td class="col-md-8">
                <div id="productsDetails" class="hot-products">
                    <label style="color:forestgreen" class="title">
                        Mọi thông tin trên website chỉ mang tính chất tham khảo.
                    </label> <br />
                    Chúng tôi luôn cố gắng cung cấp các thông tin đầy đủ, chính xác và minh bạch đến người xem,
                    tuy nhiên quá trình kiểm duyệt vẫn có thể xảy ra sơ sót. Nếu bạn có phản hồi với tin đăng này (tin đã cho thuê, không liên lạc được, các trường hợp khác),
                    vui lòng thông báo để <label style="color:green"> Nhà Trọ Xanh</label> có thể xử lý.
                    Bạn có thể xem hướng dẫn để hiểu thêm về website.
                    <br /><br /> <div style="text-align:center"><a class="btn btn-success" href="~/TinTuc/HuongDan" style="text-align:center">Xem hướng dẫn</a></div>
                </div>
            </td>

        </tr>
    </table>
</div>

